<h1>About Bloccit</h1>
<p>Created as part of the bloc apprenticeship by me: <a href="smcabrera.github.io">Stephen Mariano</a> with the help of my mentor <a href="http://about.me/matthieu.tanguay.carel">Matt</a></p>

