<% if policy(Vote.new).create? %>
  <div class="pull-left vote-arrows">
    <div>
      <%= link_to " ",
      topic_post_up_vote_path(topic, post),
      class: up_vote_link_classes(post),
      method: :post %>
    </div>

    <div><strong><%= post.points %></strong></div>

    <div>
      <%= link_to " ",
      topic_post_down_vote_path(topic, post),
      class: down_vote_link_classes(post),
      method: :post %>
    </div>
  </div>
<% end %>
